In [12]:
def palindrome(string):
    start,end = 0 , len(string) - 1
    Status = True
    while start < end:
        if string[start] != string[end]:
            Status = False
            break
        start += 1
        end -= 1
    return Status

In [14]:
string = "Malingray prasanna"
palindrome("mam")

True

In [37]:
type("dogs are love")
string = 'dogs are love'
# string = 'dogs are love"
strin = "dogs are 'love'"
# string = "dogs are "love""
string = 'dogs are "love"'
a = "'dogs' are 'love'"
a = """hello my name is 
Malingray"""
a = """hello \ my name is maligray"""
a[0]
a[1]

'e'

In [50]:
string = """manjunathkannur"""
start , end = 0 , len(string)
mid = (start + end) // 2
string[2:mid]
string[3:8]

'junat'

In [83]:
string = """Malingray prasanna"""
string[3:9]
string[2:8]
string[:]
string[5:]
string[:9]
string[9::]
string[14:18]
string[1::6]
string[1::5]
string[2::3]
string[2::9]
string[::9]
string[:-2]
string[::-2]
string[-2:]
string[-2:-2]
string[-2::]
string[::-1]
string[-1::]

'a'

In [87]:
string
number = "18"
strin + number
a = '18'
print(a*9)

181818181818181818

In [96]:
# Python String Formatters
Name = "Malingray prasanna"
Age = 18
print("My name is" + Name + "my age is" + str(Age) + "years old")

print(f"My name is {Name} and my age {Age} years old")

print("my name is {} and my age {} years old".format(Name,Age))

print("my name my {0} and my age is {1} years old".format(Name,Age))

print("my name is %s and my age is %d years old" % (Name,Age))

fruits = ["apple", "banana", "cherry"]
string = ",".join(fruits)
string

My name isMalingray prasannamy age is18years old
My name is Malingray prasanna and my age 18 years old
my name is Malingray prasanna and my age 18 years old
my name my Malingray prasanna and my age is 18 years old
my name is Malingray prasanna and my age is 18 years old

'apple,banana,cherry'

In [101]:
# Python String Functions

text = "hello word!"
legnth = len(text)

def Length_function(text):
    count = 0
    for i in range(len(text)):
        count += 1
    return count
Length_function(text)

11

In [106]:
text = "hello word"
upper_text = text.upper()

def convert_to_uppercase(upper_text):
    Result = ""
    for char in upper_text:
        if 'a' <= char <= 'z':
            Result += chr(ord(char)-32)
        else:
            Result += char
    return Result
convert_to_uppercase(upper_text)

'HELLO WORD'

In [112]:
text = "hello word"
upper_text = text.upper()


def convert_to_lowercase(text):
    Result = " "
    for char in text:
        if 'A' <= char <= 'Z':
            Result += chr(ord(char) +32)
        else:
            Result += char
    return Result

convert_to_lowercase(upper_text)

' hello word'

In [130]:
text = "   Some text with spaces   "
remove_whitespace = text.strip()

def remove_whitespace_18(txt):
    Left ,Right = 0,len(txt) - 1
    while Left < Right and txt[Left].isspace():
        Left += 1
    while Right >= 0 and txt[Right].isspace():
        Right -= 1
    Result = txt[Left:Right+1]
    return Result
remove_whitespace_18(text)

'Some text with spaces'

In [137]:
text = "Hello, World"
new_text = text.replace("World", "Malingray")  # "Hello, Python"
new_text

'Hello, Malingray'

In [148]:
text = "apple,Banana,Cherry"
new_text = text.split()

def split_string(text,delimiter):
    Result = []
    delimiter_string = " "
    for char in text:
        if char == delimiter:
            Result.append(delimiter_string)
        else:
            delimiter_string += char
    Result.append(delimiter_string)
    return Result
new_list = split_string(text,",")

In [155]:
new_text

def join_strings(new_list,delimeter):
    Result = new_list[0]
    for i in range(1,len(new_list)):
        Result += delimeter + new_list[i]
    return Result
join_strings(new_list,",")

' apple, appleBanana, appleBananaCherry'

In [165]:
text = "hello word"
new_text = text.startswith("hello")
new_text

def starts_with_prefix(string,prifix):
    for char in range(len(prifix)):
        if string[char] != prifix[char]:
            return False
    return True
starts_with_prefix(text,"hello")

True

In [178]:
def Ends_with_prefix(string,prefix):
    Left,Right = 0,len(string) - 1
    for char in range(len(prefix)):
        if string[char] == prefix:
            return False
    return True
text = "hello word"
Ends_with_prefix(text,"wordjdk")

True

In [180]:
text = "hello word"
find = text.find('d')
find

9

In [195]:
def custom_find(string,finditem):
    for i in range(len(string)):
        if string[i:i+len(finditem)] == finditem:
            return i
    return -1
input_string = "Hello, World! How are you doing today?"
target = "d"
index = custom_find(input_string, target)
print(index)
new_text = input_string.find('d')
new_text

11

11

In [199]:
text = "She sells seashells by the seashore."
new_text = text.count('s')

def count_non_overlapping_occurrences(string,finditem):
    Count = 0
    for i in range(len(string)):
        if string[i] == finditem:
            Count += 1
    return Count
count_non_overlapping_occurrences(text,'l')

4

In [209]:
new_text = "She sells seashells by the seashore."
nn = new_text.isdigit()
mm = new_text.isalnum()
kk = new_text.isalpha()
kk
mm
nn
numeric = "123456".isdigit()
numeric
is_alpha = "abc".isalpha()
is_alpha
is_alpha_numeric = "12345abc".isalnum()
is_alpha_numeric

True

In [210]:
valu_1 = 18
value_2 = 45
valu_1 + value_2

63

In [211]:
def Local_Variables():
    local_var = 18
    return local_var
Local_Variables()

18

In [213]:
global_val = 45
def global_variable():
    # global global_val
    print(global_val)
global_variable()

45

In [214]:
global_val = 25
def global_variable_18():
    global global_val
    global_val = 18
    return global_val
global_variable_18()

18

In [216]:
global_val

18

In [219]:
def outer_function():
    outer_var = 18
    def inner_function():
        nonlocal outer_var
        outer_var = 45
        return outer_var
    inner_function()
    print(outer_var)
outer_function()

45

In [223]:
x = 18
if x < 15:
    print("x is greater than 15")
    if x == 36:
        print("x is equal to 36 ")
    elif x > 14:
        print("x less than 15")
else:
    print("none is here")

none is here

In [9]:
for i in range(9):
    for j in range(i):
        print(j,end = '')

001012012301234012345012345601234567

In [16]:
n = 5
for i in range(0,n):
    for j in range(i+1,n):
        print(j,end = '')
    print()

1234
234
34
4

In [17]:
for i in range(9):
    for j in range(9):
        print(j,end = '')
    print(i,end = '')

012345678001234567810123456782012345678301234567840123456785012345678601234567870123456788

In [25]:
root = [9,6,3,4,8,7,2,1,5]
for i in range(len(root)):
    for j in range(i+1,len(root)):
        print(root[i],end = '')
    print()

99999999
6666666
333333
44444
8888
777
22
1

In [34]:
root = 9
def half_pyramid(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end = '')
        print()
half_pyramid(9)

1
12
123
1234
12345
123456
1234567
12345678
123456789

In [36]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = '')
    print()

1
12
123
1234
12345

In [41]:
n = 6
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = '')
    print()

1
12
123
1234
12345
123456

In [42]:
for i in range(n):
    for j in range(i+1,n):
        print(j,end = '')
    print()

12345
2345
345
45
5